.searchBox {
  width: 70%;
}
.leftBar {
  position: absolute;
  width: 20%;
  top: 10%;
  height: 90%;
  /* background-color: #939496; */
  /* color: transparent; */
  background-color: #b5b5b5;
  padding: 10px;
  left: 0%;
}
/* makes two sliders into one */
.wrapper {
  /* position: absolute; */
  /* display: none; */
  top: 0%;
  width: 60%;
  height: 50px;
  left: 0%;
  background-color: gray;
  padding: 0px;
  border-radius: 50px;
}
.container {
  position: relative;
  width: 100%;
  height: 50%;
  margin-top: 10px;
}
.leftSlider {
  position: absolute;
  top: -100%;
  left: 5%;
  width: 90%;
  height: 50%;
  background-color: transparent;
}
.rightSlider {
  top: -100%;
  left: 5%;
  width: 90%;
  height: 0%;
  background-color: transparent;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  height: 5%;
  outline: gold;
  position: absolute;
  margin: auto;
  top: -30;
  bottom: 0;
  left: 5%;
  background-color: transparent;
  pointer-events: none;
}

#track1 {
  width: 80%;
  left: 10%;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 5%;
}
#track2 {
  width: 80%;
  left: 10%;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 5%;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5%;
}
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5%;
  top: 10px;
}
input[type="range"]::-ms-track {
  appearance: none;
  height: 5%;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: darkgrey;
  cursor: pointer;
  margin-top: -4%;
  pointer-events: auto;
  border-radius: 50%;
}
/* input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 20px solid #3264fe;
} */
.values {
  background-color: #c0c0c0;
  width: 50%;
  height: 1%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}
/* showing the values of sliders*/
.rangeRead {
  position: relative;
  color: #000;
  font-size: 70%;
  top: -17px;
}
.rangeDash {
  position: relative;
  color: #000;
  font-size: 70%;
  top: -17px;
}

.sort {
  position: absolute;
  color: #000;
  font-size: 70%;
  top: 10%;
  right: 40%;
}

.filterBtn {
  margin-top: 5%;
}
